<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apply for leave</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/applyforleave.css}">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
</head>
<body>
<div class="form-container">
    <h1>Enter Details To Apply for Leave</h1>
    <form th:action="@{/employees/apply/save}" method="post" th:object="${applyLeave}">
        <input type="hidden" th:field="*{employeeId}">
        <div class="form-row">
            <!--Leave starting from Date( enter date in format yyyy-mm-dd )-->
            <div class="form-group">
                <label for="fromDate">Leave starting from Date( enter date in format yyyy-mm-dd )*</label>
                <input type="date" th:field="*{fromDate}" id="fromDate" placeholder="" required>
            </div>

            <!--Number of Incidental Leaves-->
            <div class="form-group">
                <label for="noOfDays">Number of Days you want Leave*</label>
                <input type="text" th:field="*{noOfDays}" id="noOfDays" placeholder="" required>
            </div>

            <!--Number of Leaves without Pay-->
            <div class="form-group">
                <label>Number of Leaves without Pay*</label>
                <select th:field="*{leaveCategory}">
                    <option value="Earned Leave">Earned Leave</option>
                    <option value="Incidental Leave">Incidental Leave</option>
                    <option value="Leave Without Pay">Leave Without Pay</option>
                    <option value="Short Leave">Short Leave</option>
                </select>
            </div>

            <!--Reason for Leave-->
            <div class="form-group">
                <label for="leaveReason">Reason for Leave</label>
                <input type="text" th:field="*{leaveReason}" id="leaveReason" placeholder="" required>
            </div>

        </div>

        <div class="form-actions">
            <a class="cancel-btn" th:href="@{/employees/leave/view/{empId}(empId=${empId})}">Cancel</a>
            <button type="submit" class="next-btn" value="Register">Register</button>
        </div>
    </form>
</div>
</body>
</html>