<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/employeeform.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
</head>
<body>
<div class="form-container">
    <h1>[[${title}]]</h1>
    <form th:action="@{/employees/save}" method="post" th:object="${employee}">
        <input type="hidden" th:field="*{employeeId}"/>

        <div class="form-row">
<!--            first name-->
            <div class="form-group">
                <label for="firstName">First Name*</label>
                <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name" required>
            </div>

<!--            last name-->
            <div class="form-group">
                <label for="lastName">Last Name*</label>
                <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name" required>
            </div>

<!--            salary-->
            <div class="form-group">
                <label for="salary">Salary*</label>
                <input type="text" th:field="*{salary}" id="salary" placeholder="Salary" required>
            </div>

<!--            email-->
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" th:field="*{email}" id="email" placeholder="Enter Email" required>
            </div>

<!--            password-->
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" th:field="*{password}" id="password" placeholder="Enter Password" required>
            </div>

<!--            phone number-->
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="text" th:field="*{phoneNo}" id="phone" placeholder="Enter Phone Number" required>
            </div>

<!--            gender-->
            <div class="form-row">
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select id="gender" name="gender" th:field="*{gender}">
                        <option value="" disabled selected>Select Gender</option>
                        <option value="male" th:selected="${gender == 'male'}">Male</option>
                        <option value="female" th:selected="${gender == 'female'}">Female</option>
                    </select>
                </div>
            </div>

<!--            department name-->
            <div class="form-group">
                <label for="departmentName">Department Name</label>
                <input type="text" th:field="*{departmentName}" id="departmentName" placeholder="Enter Name" required>
            </div>

<!--            address-->
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" th:field="*{address}" id="address" placeholder="Enter Address" required>
            </div>

<!--            date of birthday-->
            <div class="form-group">
                <label for="dob">Date of Birth</label>
                <input type="date" id="dob" name="birthDate" th:field="*{birthDate}" required>
            </div>

<!--            role-->
            <div class="form-row">
                <label for="roles">Roles</label>
                <div class="form-group">
                    <select id="roles" name="roles" th:field="*{roles}">
                        <option value="" disabled selected>Select Role</option>
                        <th:block th:each="role : ${listRoles}">
                            <option th:value="${role.id}" th:text="${role.roleName}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <a class="cancel-btn" th:href="@{'/employees'}">Cancel</a>
            <button type="submit" class="next-btn" value="Register">Register</button>
        </div>
    </form>
</div>
</body>
</html>