<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>View Leave Details</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/employeeleavedetails.css}">
  <script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
</head>
<body>
<div th:replace="navbarEmployee" class="container"></div>

<div class="container">
  <div th:if="${message!=null}" class="alert alert-success text-center">
    [[${message}]]
  </div>

  <!-- Header -->
  <header>
    <h1>Employee Leave Details</h1>
    <div class="button-group">
      <a th:href="@{'/employees/leave/applyNew/'+${leave.employeeId}}">
        <button class="add-user-btn">Apply For Leave</button>
      </a>
      <a th:href="@{'/employees/leave/leaveStatus/'+${leave.employeeId}}">
        <button class="add-user-btn">Check Leave Status</button>
      </a>
    </div>
  </header>
  <table class="user-table">
    <thead>
    <tr>
      <th>Earned Leave</th>
      <th>Incidental Leave</th>
      <th>Leave without pay</th>
      <th>short leave</th>
    </tr>
    </thead>
    <tbody id="user-table-body">
    <tr th:if="${leave!=null}">
      <td>[[${leave.earnedLeave}]]</td>
      <td>[[${leave.inicidentalLeave}]]</td>
      <td>[[${leave.leaveWithoutPay}]]</td>
      <td>[[${leave.shortLeave}]]</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>